/* .inner {
  border: 5px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerdiv {
  border: 2px solid red;
  height: 200px;
  width: 200px;
} */
